
body{
   background-color: #caf2f99c;
}

#books {
   text-transform: uppercase;
}

.ki__one,
.eh__one,
.go__one
 {
   color: rgb(1, 8, 14);
}
.ki__two,
.do__four {
   color:blue;
}
.ki__three,
.eg__two {
   color:rgb(5, 180, 49);
}
.ki__four,
.eg__four,
.do__two
 {
   color:rgba(233, 33, 7, 0.797);
}

.eg__three {
   color:rgba(133, 5, 105, 0.787);
}

.do__three {
   color: blueviolet;
}

.back__color {
   color:orangered;
}
 

